.neutro{
    background-color: #FBF6F0;
    box-shadow: none;
    text-decoration: none;
    color: #4B626C;
}

body {
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF6F0;
    font-size: 32px;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FBF6F0;
    color: #FBF6F0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header nav img {
    width: 100px;
    margin-bottom: 1px;
}

header nav ul {
    align-items: stretch;
    margin: auto 0 auto 2%;
    display: flex;
    gap: 15px;
}

header nav ul li {
    margin:auto auto;
    display: inline;
    color: #4B626C;
    justify-content: space-evenly;
}

ul{
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #4B626C;
}

.search {
    margin: auto 2% auto auto;
    background-color: #CED1CD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.search #input {
    background-color: #CED1CD;
    border: none;
    display: inline;
    padding: 0 0 0 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.lupa{
    display: inline;
    position: relative;
    border: none;
    background-color: #CED1CD;
}

header h1{
    color: #4B626C;
    font-family: "montserrat", sans-serif;
    font-weight: normal;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main a{
    width: 40px;
}

.seta{
    background-color: #FBF6F0;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.column{
    display: flexbox;
    flex-direction: column;
    width: 40%;
}

.user-info {
    background-color: #FBF6F0;
    padding: 20px;
    border-radius: 10px;
}

.user-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4B626C;
}

.user-info p {
    margin: 5px 0;
    color: #4B626C;
}

.user-info button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #4B626C;
    color: #FBF6F0;
    border-radius: 5px;
    cursor: pointer;
}

.user-info button.admin-button {
    background-color: #A3ACAE;
}

.games {
    background-color: #4B626C;
    padding: 20px;
    color: #FBF6F0;
    width: 45%;
    flex-direction: column;
}

main div{
    flex-direction: row;
}

.games h2 {
    margin-bottom: 20px;
}

.games .game {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.games .game img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.games .game p {
    font-size: 18px;
}

footer{
    background-color: #4B626C;
    color: #FBF6F0;
    padding: 2%;
}

footer button{
    border: 2px solid white;
    background-color: #4B626C;
    size: 30px;
}