body{
    font-family: "montserrat", sans-serif;
    color: #4B626C;
    margin: 0;
    padding: 0;
    background-color: #FBF6F0;
    font-size: 32px;
    font-weight: 300;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #FBF6F0;
    color: #FBF6F0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header nav img{
    width: 100px;
    margin-bottom: 1px;
}

header nav ul{
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    max-width: 70vw;
}

header nav ul li{
    margin: auto 0 auto 5%;
    display: flex;
    color: #4B626C;
    justify-content: space-evenly;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #4B626C;
}

.search{
    margin: auto 2% auto auto;
    background-color: #CED1CD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    display: inline;
    max-width: 11vw;
}

.search #input{
    background-color: #CED1CD;
    max-width: 7vw;
    border: none;
    display: inline;
    padding: 0 0 0 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.lupa{
    display: inline;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: #CED1CD;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
}

main a{
    width: 40px;
}

.aSeta{
    margin-right: auto;

}

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: transparent;
    padding-left: auto;
    padding-right: auto;
    margin-left: 5%;
    text-align: center;
}

.column h1{
    color: #4B626C;
    font-family: "montserrat", sans-serif;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.seta{
    background-color: #FBF8F4;
    border-radius: 25%;
    border: none;
    cursor: pointer;
    margin-left: 25vw;
    margin-right: auto;
    font-size: 30px;
}

.fundo{
    background-color: #FBF8F4;
    background-image: url(imagens/image2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 170% -14vh;
    background-size: 85%;
}

.column input{
    background-color: #EFEFEF;
    color: #97A4A2;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    margin: 2vh;
    font-style: normal;
    font-size: 24px;
    padding: 10px;
    min-width: 23vw;
}

.user-info{
    background-color: #FBF6F0;
    padding: 20px;
    margin: 5%;
}

.user-info h1{
    font-size: 42px;
    margin-top: 15vh;
    margin-bottom: 6vh;
    font-weight: 500;
}

.user-info p{
    margin: 3vh 0;
    font-size: 28px;
    font-weight: normal;
}

.user-info button{
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #4B626C;
    color: #FBF6F0;
    border-radius: 5px;
    cursor: pointer;
    min-width: 23vw;
    font-size: 28px;
    font-weight: 100;
}

.pPrincipal{
    display: inline-flex;
    flex-direction: row;
    margin:auto auto auto auto;
    font-size: xx-small;

}

.pPrincipal a{
    margin: 2vw;
}

.pPrincipal #alinha{
    margin-top: 4vh;
    margin-bottom: 4vh;
}


#setaE{
    margin: auto 1% auto auto;
    border: none;
    background-color: transparent;
    font-size: 100px;
    color: #97A4A2;
    font-weight: 100;
}

#setaD{
    margin: auto 3% auto 1%;
    border: none;
    background-color: transparent;
    font-size: 100px;
    color: #97A4A2;
    font-weight: 100;
}

.user-info button.admin-button{
    background-color: #A3ACAE;
}

#games{
    margin-left: 2vw;
    display: inline-block;
}

#games img{
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.games{
    background-color: #4B626C;
    padding: 20px;
    color: #FBF6F0;
    width: 40%;
    z-index: -1;
    height: 100%;
    display: block;
 }

.games h2{
    margin-bottom: 20px;
    margin-left: 9%;
    font-weight: 300;
    font-size: 32px;
}

.games .game{
    display: block;
    align-items: end;
    margin-bottom: 10px;
}

.games .game img{
    margin: 10px;
}

.games .game figcaption{
    font-size: 18px;
    margin-left: 10px;
}

.games button{
    border: 2px solid white;
    background-color: #4B626C;
    height: 74px;
    width: 74px;
    border-radius: 50%;
}

footer{
    background-color: #4B626C;
    color: #FBF6F0;
    padding: 2%;
    align-items: stretch;
}

footer section{
    align-items: stretch;
}

footer button{
    border: 2px solid white;
    background-color: #4B626C;
    height: 74px;
    width: 74px;
    border-radius: 50%;
}

footer button i{
    color: #000;
}

.neutro{
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #97A4A2;
    margin-top: 17vh;
}

#cWraper{
    min-height: 100vh;
}