body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF6F0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FBF6F0;
    color: #FBF6F0;
    border-bottom: 3px solid #A3ACAE;
}

header nav img {
    width: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #4B626C;
    text-decoration: none;
}

header .search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

header .search #input {
    background-color: #CED1CD;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user-info {
    background-color: #FBF6F0;
    padding: 20px;
    border-radius: 10px;
}

.user-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4B626C;
}

.user-info p {
    margin: 5px 0;
    color: #4B626C;
}

.user-info button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #4B626C;
    color: #FBF6F0;
    border-radius: 5px;
    cursor: pointer;
}

.user-info button.admin-button {
    background-color: #A3ACAE;
}

.games {
    background-color: #4B626C;
    padding: 20px;
    color: #FBF6F0;
    width: 45%;
}

.games h2 {
    margin-bottom: 20px;
}

.games .game {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.games .game img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.games .game p {
    font-size: 18px;
}
